/* @media screen and (min-width: 1400px) and (max-width: 2200px) {


}



@media screen and (min-width: 1200px) and (max-width: 1400px) {

} */


@media screen and (min-width:1400px) and (max-width:2200px) {
	.hero-area .container {
		max-width: 1400px;
	}

	.hero-img img {
		width: 100%;
	}
}


@media screen and (min-width:1200px) and (max-width:1400px) {
	.hero-title {
		& h2 {
			font-size: 3.5rem;
		}

		& hr {
			max-width: 224px;
			height: 1.2rem;
			bottom: 48px;
		}
	}

	.about-pic1 {
		height: 480px;
	}

	.portfolio-gallery .portfolio-img:nth-child(10) img,
	.portfolio-gallery .portfolio-img:nth-child(2) img,
	.portfolio-gallery .portfolio-img:nth-child(6) img,
	.portfolio-gallery .portfolio-img:nth-child(5) img {
		height: 13.1875rem;
	}
}



@media screen and (min-width:992px) and (max-width:1200px) {
	:root {
		font-size: 14px;
	}

	.hero-title {
		& h2 {
			font-size: 3rem;
		}

		& hr {
			max-width: 153px;
			height: 1rem;
			bottom: 40px;
			right: -39%;
		}
	}

	.about-pic1 {
		height: 400px;
	}

	.title {
		/* font-size: 38px; */
	}

	.portfolio-gallery .portfolio-img:nth-child(10) img,
	.portfolio-gallery .portfolio-img:nth-child(2) img,
	.portfolio-gallery .portfolio-img:nth-child(6) img,
	.portfolio-gallery .portfolio-img:nth-child(5) img {
		height: 12.625rem;
	}
}


/*FOR-TABLATE-START*/
@media screen and (min-width:768px) and (max-width:991px) {
	:root {
		font-size: 14px;
	}

	.navbar-expand-md .navbar-nav .nav-link {
		font-size: 12px;
	}

	.btn1 {
		font-size: 12px;
	}

	.hero-title {
		& h2 {
			font-size: 3rem;
		}

		& hr {
			max-width: 153px;
			height: 1rem;
			bottom: 40px;
			right: -39%;
		}

		p {
			padding-bottom: 1rem;
		}
	}

	.about-pic1 {
		height: 293px;
	}

	.title {
		font-size: 30px;
		padding: 1rem 0;
	}

	.portfolio-gallery .portfolio-img:nth-child(10) img,
	.portfolio-gallery .portfolio-img:nth-child(2) img,
	.portfolio-gallery .portfolio-img:nth-child(6) img,
	.portfolio-gallery .portfolio-img:nth-child(5) img {
		height: 132px;
	}

	.portfolio-gallery {
		gap: 1rem;
	}

}


@media screen and (max-width:767px) {
	:root {
		font-size: 12px;
	}

	.navbar-expand-md .navbar-nav .nav-link {
		padding-bottom: 20px;
	}

	.btn1 {
		font-size: 12px;
		padding: .875rem 1.75rem;
	}

	.hero-title {
		& h2 {
			font-size: 3rem;
		}

		& hr {
			max-width: 153px;
			height: 1rem;
			bottom: 40px;
			right: -39%;
		}

		p {
			padding-bottom: 1rem;
		}
	}

	.about-img img {
		width: 100%;
		/* object-fit: cover; */
		/* border-radius: 30px; */
	}

	.about-img img {
		padding-bottom: 2rem;
		padding-top: 0;
	}

	.about-area {
		padding: 2rem 0 1.5rem;
		margin: 3rem 0 2rem;
	}

	.about-pic {
		margin-left: 0;
	}

	.about-pic1 {
		height: 500px;
	}

	.instragram-area {
		padding: 2rem 0 2rem;
	}

	.portfolio-gallery .portfolio-img:nth-child(10) img,
	.portfolio-gallery .portfolio-img:nth-child(2) img,
	.portfolio-gallery .portfolio-img:nth-child(6) img,
	.portfolio-gallery .portfolio-img:nth-child(5) img {
		height: 250px;
	}

	.portfolio-gallery .portfolio-img:nth-child(5) {
		grid-column: inherit;
	}

	.portfolio-gallery .portfolio-img:nth-child(9) {
		display: none;
	}

	.portfolio-gallery .portfolio-img {
		height: 250px;
	}

	.portfolio-gallery .portfolio-img img {
		height: 250px;
	}

	.portfolio-gallery .portfolio-img:nth-child(2) {
		grid-column: inherit;
	}

	.portfolio-gallery {
		grid-template-columns: 1fr;
		gap: 1rem;
	}

	.portfolio-area {
		padding: 0.5rem 0 2rem;
	}
}