@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


:root {
    --gray: #222222;
    --blue: #8A47F6;
    --blue2: #8A47F6;
    --black: #111;
    --black2: #333;
    --orange: #FE8C45;
    --white: #FFF;
    --second: "Quicksand", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,
h2,
h2,
h4 {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Quicksand", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--black2);
    background: var(--gray3);
}

.navbar-expand-md .navbar-nav .nav-link {
    padding: 0 .9375rem;
    text-align: center;
}

.btn1 {
    text-decoration: none;
    background: var(--orange);
    color: var(--white);
}

.btn2 {
    text-decoration: none;
    background: var(--orange);
    color: var(--white);
    padding: .8rem 2.8125rem;
    display: inline-block;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.hero-title {
    hr {
        max-width: 240px;
        height: 1.5625rem;
        background: #5e00f5;
        display: block;
        margin: 0;
        opacity: 1;
        position: relative;
        bottom: 65px;
        right: -39%;
        border-radius: 30px;
    }

    h2 {
        font-size: 4.625rem;
        font-weight: 900;
        color: var(--black);

        span {
            color: var(--blue);
        }
    }

    p {
        padding-bottom: 2.25rem;
    }

}

.hero-btn a {
    padding-right: 7.375rem !important;
    display: inline-block;
}

.nav-hero-wrapper {
    background: url(img/heroicon.png) no-repeat;
    background-size: 38% 100%;
}

/* about area  */
.about-area {
    padding: 4.25rem 0 1.5rem;
    margin: 10rem 0 5rem;
    background: rgba(138, 71, 246, .1)
}

.title {
    color: var(--black);
    font-family: var(--second);
    font-size: 3rem;
    font-weight: 900;
    padding: 1.6rem 0;
}

.title {
    span {
        color: var(--blue);
    }
}


.about-pic {
    margin-left: -5px;
}

.about-pic1 {
    height: 533px;
}