@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


:root {
    --gray: #222222;
    --blue: #8A47F6;
    --blue2: #8A47F6;
    --black: #111;
    --black2: #333;
    --orange: #FE8C45;
    --white: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Quicksand", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--black2);
    background: var(--gray3);
}

.navbar-expand-md .navbar-nav .nav-link {
    padding: 0 .9375rem;
    text-align: center;
}

.btn1 {
    text-decoration: none;
    background: var(--orange);
    color: var(--white);
}