@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


:root {
    --gray: #222222;
    --blue: #8A47F6;
    --blue2: #8A47F6;
    --black: #111;
    --black2: #333;
    --orange: #FE8C45;
    --white: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Quicksand", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--black2);
    background: var(--gray3);
}

.navbar-expand-md .navbar-nav .nav-link {
    padding: 0 .9375rem;
    text-align: center;
}

.btn1 {
    text-decoration: none;
    background: var(--orange);
    color: var(--white);
}

.hero-title {
    hr {
        max-width: 240px;
        height: 1.5625rem;
        background: #5e00f5;
        display: block;
        margin: 0;
        opacity: 1;
        position: relative;
        bottom: 65px;
        right: -39%;
        border-radius: 30px;
    }

    h2 {
        font-size: 4.625rem;
        font-weight: 900;
        color: var(--black);

        span {
            color: var(--blue);
        }
    }

    p {
        padding-bottom: 2.25rem;
    }

}

.hero-btn a {
    padding-right: 7.375rem !important;
    display: inline-block;
}

.nav-hero-wrapper {
    background: url(img/heroicon.png) no-repeat;
    background-size: 38% 100%;
}